.loginContainer {
    display: flex;
    flex-direction: column;
  }
  
  .inputStyle {
    margin-bottom: 10px;
  }
  
  .buttonStyle {
    background-color: #ff6600;
    color: white;
  }
  
  .socialLogin {
    margin-top: 20px;
  }
  
  .loginPageStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  