.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: linear-gradient(to Bottom, var(--primary-color) 50%, var(--secondary-color));
    text-align: center;
  }
  
  .logo-home {
    width: 200px;
    height: auto;
    margin-bottom: 2rem;
  }
  
  .description {
    max-width: 600px;
    margin: 2rem 0;
    color: white;
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: justify;
  }

  .button-home {
    width: 250px;
    background-color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  .btn-link{
    text-decoration: none;
    color: white;
  }
   
  
  .button-home:hover {
    background-color: #333;
  }